html,
body {
    height: 95%;
    width: 95%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 3px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    height: fit-content;
}

#upperframe {
    border : 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
    height: 65px;
}

#screen {
    font-size: 40px;
    height: 45px;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

#subscreen {
    font-size: 15px;
    text-align: right;
}

#buttonplace {
    display: flex;
    justify-content: space-around;
}

#numbers,
#operator {
    padding: 0px;
    margin: 0px;
}

#numbers {
    flex: 3 1 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.double {
    flex: 2 0 auto;
    width: 170px;
}

#operator {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 0 auto;
    height: 90px;
    width: 85px;
    font-weight: bold;
    font-size: large;
}

/* Buttons customization */
#operate {
    background-color: aquamarine;
}

#equal {
    background-color: orange;
}

#clear {
    background-color: red;
}

#backspace {
    background-color: darkslategrey;
}

#num {
    background-color: gray;
}